<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DetectPhoneNumber</key>
	<true/>
	<key>TopActivityIndicator</key>
	<string>gray</string>
	<key>EnableLocation</key>
	<false/>
	<key>EnableAcceleration</key>
	<true/>
	<key>EnableViewportScale</key>
	<false/>
	<key>AutoHideSplashScreen</key>
	<true/>
	<key>ShowSplashScreenSpinner</key>
	<true/>
	<key>ExternalHosts</key>
	<array>
		<string>webapp.secure.force.com</string>
		<string>maps.googleapis.com</string>
		<string>login.salesforce.com</string>
		<string>*.content.force.com</string>
		<string>*.my.salesforce.com</string>
		<string>na*.salesforce.com</string>
		<string>eu*.salesforce.com</string>
		<string>cs*.salesforce.com</string>
		<string>ap*.salesforce.com</string>
		<string>${TEST_FLIGHT_TOKEN}.sdk.testflightapp.com</string>
	</array>
	<key>Plugins</key>
	<dict>
		<key>com.salesforce.oauth</key>
		<string>SalesforceOAuthPlugin</string>
		<key>com.phonegap.camera</key>
		<string>PGCamera</string>
		<key>com.phonegap.connection</key>
		<string>PGConnection</string>
		<key>com.phonegap.debugconsole</key>
		<string>PGDebugConsole</string>
	</dict>
	<key>OpenAllWhitelistURLsInWebView</key>
	<true/>
</dict>
</plist>
